
<button class='button is-link'(click)='setDiagnosticsOnOff()'>
  set diagnostics on/off
</button>

<section *ngIf="showDiagHtml"  >
  <div>
    previous answer points: {{hisAnsPoints}} <br>
    answers stored to db so far:  {{answerCnt}} <br>
    scoring rounds completed so far: {{scoreRound-1}} <br>
    scores stored to db so far:  {{scoreRecsWritten}} <br>
  </div>
  <div>
    <button class='button is-link'(click)='massDeleteAnswers()'>
      mass delete answers
    </button>
    <br>
    <br>
    <button class='button is-link'(click)='massDeleteScores()'>
      mass delete scores
    </button>  
    <br>
    <br>

  </div>

  <table class='table is-striped  is-bordered'>
    <thead class='has-background-info'>
      <tr>
        <th>subset</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let s of subsetArray">
        <th> {{s.subset}} </th>
      </tr>
    </tbody>
  </table>

  <table class='table is-striped  is-bordered'>
    <thead class='has-background-info'>
      <tr>
        <th>nbr</th>
        <th>preQuest</th>
        <th>questTxt</th>
        <th>subset</th>
        <th>accum</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let q of allQuestions">
        <th> {{q.questNbr}} </th>
        <th> {{q.preQuest}} </th>
        <th>  {{q.questTxt}} </th>
        <th>  {{q.subset}} </th>
        <th>  {{q.accum[0]}} </th>
      </tr>
    </tbody>
  </table>

  <table class='table is-striped  is-bordered'>
    <thead class='has-background-info'>
      <tr>
        <th>accum</th>
        <th>oper</th>
        <th>thresh</th>
        <th>subset</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let r of rulesArray">
        <th> {{r.accum}}   </th>
        <th> {{r.oper}}    </th>
        <th>  {{r.thresh}} </th>
        <th>  {{r.subset}} </th>
      </tr>
    </tbody>
  </table>

  <table class='table is-striped  is-bordered'>
    <thead class='has-background-info'>
      <tr>
        <th>nbr</th>
        <th>preQuest</th>
        <th>questTxt</th>
        <th>subset</th>
        <th>accum</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let q of activeQuestions">
        <th> {{q.questNbr}} </th>
        <th> {{q.preQuest}} </th>
        <th>  {{q.questTxt}} </th>
        <th>  {{q.subset}} </th>
        <th>  {{q.accum[0]}} </th>
      </tr>
    </tbody>
  </table>

</section>

<section *ngIf="showQuestHtml" class="hero">
  <div class="hero-body">
    <div class="container">
      <h3 class="subtitle has-text-centered"> {{curPreQuest}}  </h3>
      <h2 class='title has-text-centered'> {{curQuestTxt}} </h2>
    </div>
  </div>
</section >

<div *ngIf="showAnswerGroupHtml" class="columns box "> 
  <div class="column " *ngFor="let x of curAca; let i = index">
    <button class='button is-link is-fullwidth'(click)='heAnsweredOneQuestion(i)'>{{x}}</button>
  </div>
</div>


<div *ngIf="showWrapUpHtml" class=" has-background-primary" >  
  Thank you for taking this questionnaire.
  You scored in the top 49.3 percent.  Congratulations.
</div>
