<button class='button is-info'(click)='setDiagnosticsOnOff()'>
  set diagnostics on/off
</button>

<section *ngIf="showDiagHtml" class="bla" >
  <div>
    previous answer points: {{hisAnsPoints}} <br>
    answers stored to db so far:  {{answerCnt}} <br>
    scoring rounds completed so far: {{scoreRound-1}} <br>
    scores stored to db so far:  {{scoreRecsWritten}} <br>
  </div>
</section>

<section *ngIf="showQuestHtml" class="hero">
  <div class="hero-body">
    <div class="container">
      <h3 class="subtitle has-text-centered"> {{curPreQuest}}  </h3>
      <h2 class='title has-text-centered'> {{curQuestTxt}} </h2>
    </div>
  </div>
</section >

<div *ngIf="showAnswerGroupHtml" class="columns box "> 
  <div class="column " *ngFor="let x of curAca; let i = index">
    <button class='button is-info is-fullwidth'(click)='heAnsweredOneQuestion(i)'>{{x}}</button>
  </div>
</div>


<div *ngIf="showWrapUpHtml" class=" has-background-primary" >  
  Thank you for taking this questionnaire.
  You scored in the top 49.3 percent.  Congratulations.
</div>
